<header>
    <nav class="navbar">
        <div class="nav-container">
            <a href="index.html" class="nav-logo">
                <img src="assets/img/icon.png" alt="Logo" class="h-10 w-auto logo-img">
                <span class="text-xl font-extrabold tracking-tight gradient-text logo-text">Ourofolios</span>
            </a>

            <div class="nav-links-container">
                <a href="index.html#projets" class="nav-link">PROJETS</a>
                <a href="assets/pages/about.html" class="nav-link">À PROPOS</a>
                <a href="mailto:oneshot666@email.com" class="btn-contact">CONTACT</a>
            </div>
        </div>
    </nav>
</header>
